        @import url(navbar.css);
        @import url(footer.css);
        body {
            width: 100%;
            font-family: Helvetica, sans-serif;
            margin-bottom: 0px;
        }
        
        .navbar {
            grid-area: navbar;
        }
        
        .article {
            grid-area: article;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 10px;
        }
        
        .more {
            grid-area: more;
            display: flex;
            flex-wrap: wrap;
            grid-template-rows: repeat(2, 1f);
            grid-gap: 10px;
        }
        
        .author,
        .social-sharing {
            background: #f9f9f9;
            padding: 8px;
            border-radius: 2px;
        }
        
        @media(min-width: 1101px) {
            .more {
                grid-template-rows: repeat(2, 1f);
                flex-wrap: wrap;
                grid-gap: 8px;
            }
        }
        
        .footer {
            grid-area: footer;
        }
        
        #grid-container {
            display: grid;
            grid-template-columns: repeat(5, 1f);
            grid-template-areas: 'navbar navbar navbar navbar navbar' 'article article article article article' 'more more more more more' 'footer footer footer footer footer';
        }
        
        @media(min-width: 1101px) {
            #grid-container {
                grid-template-areas: 'navbar navbar navbar navbar navbar' 'article article article article more' 'footer footer footer footer footer';
            }
        }
        
        #navbar-title {
            cursor: pointer;
        }
        
        img {
            border-radius: 50%;
            object-fit: cover;
        }
        
        .article-image {
            width: 250px;
            height: 250px;
        }
        
        .image-caption {
            color: #444;
            font-size: 80%;
            text-align: center;
            margin-top: 4px;
            margin-bottom: 4px;
        }
        
        .article-header {
            align-self: center;
        }
        
        .avatar,
        .social-sharing-image {
            width: 25px;
            height: 25px;
            margin-left: 5px;
        }
        
        .social-sharing-image {
            object-fit: scale-down;
        }
        
        .social-sharing {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }