.navbar {
    display: flex;
    flex-direction: row;
    height: 120px;
    align-items: center;
    grid-area: navbar;
    background: #f9f9f9;
    margin-bottom: 10px;
}

.navbar-child {
    margin: 10px;
}

#navbar-title {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 45%;
}

@media(min-width: 1101px) {
    #navbar-title {
        flex-basis: 75%;
    }
}

.navbar-link {
    flex: auto;
    text-align: center;
}

.navbar>a:link {
    text-decoration: none;
    color: black;
}

.navbar>a:visited {
    text-decoration: none;
    color: green;
}

.navbar>a:hover {
    text-decoration: none;
    color: red;
}